    /* Général */
    
    html {
      font-size: 16px;
    }
    body {
      margin: 0px;
    }
    h1 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      color: #242424;
      font-size: 40px;
    }
    h2 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      color: #242424;
      font-size: 36px;
      padding-bottom: 16px;
      text-align: center;
      font-weight: bold;
    }  
    h3 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      color: #4b4b4b;
      font-size: 20px;
    }  
    h4 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      color: #4b4b4b;
      font-size: 20px;
    }  
    p {
      font-family: 'Ubuntu', sans-serif;
      font-size: 16px;
      color: #8b8b8b;
    }
    a {
      text-decoration: none;
    }   
    .media-conteneur {
      overflow: hidden;
    }    
    .media-conteneur img, .media-conteneur video {
      display: block;
      width: 100%;
    }
    .flex {
      display: flex;
      padding: 0 24px;
    }    
    .flex .main {
      width: 60%;
      padding: 36px 24px 36px 0;
      border-right: 1px solid rgb(245, 245, 245);
    }    
    .flex .block {
      display: flex;
      flex-direction: column;
      width: 40%;
      padding: 36px 0;
    }
    .image-box {
      display: flex;
      padding: 16px 0 16px 16px;
      border-bottom: 1px solid rgb(245, 245, 245);
    }
    .image-box .media-conteneur {
      width: 35%;
    }   
    .image-box .texte {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 65%;
      padding: 0 12px 0 16px;
    }    
    .image-box h4 {
      padding-bottom: 8px;
      font-size: 20px;
      font-weight: bold;
    }  
    .image-box p {
      padding-bottom: 8px;
    }   
    .image-box .mobile {
      display: none;
    }
    
        /* Fin général */
    
    
        /* Navbar */

    header {
      height: 64px;
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;
      } 
    .header-back {
      position: fixed;
      width: 100%;
      height: 64px;
    }  
    strong {
      font-weight: bold;
    }
    header .bureau {
      display: flex;
      align-items: center;
      width: 100%;
    }  
    header .logo {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }   
    header .logo img {
      margin-right: 8px;
    }  
    header li {
      display: inline;
      padding-right: 16px;
    } 
    header li:last-child {
      padding-right: 0;
    }
    header .mobile {
      display: none;
    }
        
    @media only screen and (max-width: 550px) {
      header .bureau {
        display: none;
      }
      header .mobile {
        display: block;
        width: 100%;
      }
      header .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .logo {
        justify-content: center;
      }
      .logo span {
        display: none;
      }    
      nav {
        display: none;
      }
    }
    
        /*Fin navbar*/   
    
    
    
        /* Banner */
        
    #banner {
      background-color: rgb(219, 219, 219);
    }   
    #banner .main {
      border-right: none;
    }   
    #banner .block {
      justify-content: center;
    }
    #banner h3 {
      padding-bottom: 32px;
      font-size: 32px;
    }  
    #banner p {
      padding-bottom: 24px;
    }   
    #banner a {
      padding: 8px 0;
      background-color: rgb(155, 155, 155);
      text-align: center;
      color: white;
      transition: background-color 0.25s ease-out;
    }
    #banner a:hover{
      background-color: brown;
    }
        
    @media only screen and (max-width: 770px) {
      #banner {
        flex-direction: column;
        padding: 0;
      }
      #banner .main {
        width: auto;
        padding: 0;
      } 
      #banner .block {
        width: auto;
        padding: 32px 16px;
      }
    }
    
        /*Fin banner*/
    
    
        
        /* Information */
    
    #information-section .main h3 {
      padding-top: 32px;
      padding-bottom: 24px;
      font-size: 24px;
    } 
    #information-section .block {
      justify-content: space-between;
    }
        
    @media only screen and (max-width: 900px) {
      #information-section.flex {
        padding: 0 16px;
      }
      #information-section .main {
        display: none;
      }
      #information-section .block {
        width: 100%;
      }
      #information-section .block .image-box {
        flex-direction: column;
      }
      #information-section .texte {
        max-width: 224px;
        padding: 16px;
      }
    }
    
    @media only screen and (max-width: 900px) { 
      .image-box .bureau {
        display: none;
      }    
      .image-box .mobile {
        display: block;
      }    
      .image-box {
        padding-left: 0;
        border-bottom: none;
      }    
      .image-box .media-conteneur {
        width: 100%;
      }
    }
    
        /* Fin information */
    
    
    
        /* Courses */
        
    #section-courses {
      padding: 32px 56px;
      background-color: rgb(245, 245, 245);
    }   
    .ligne-courses {
      display: flex;
    }   
    .course {
      flex-basis: 33%;
      margin: 16px;
      background-color: white;
    }   
    .course .texte {
      padding: 16px 16px 24px 16px;
    }
    .course h3, .course h4 {
      padding-bottom: 8px;
    }
        
    @media only screen and (max-width: 770px) {
      #section-courses {
        padding: 32px 16px;
        background-color: inherit;
      }  
      .ligne-courses {
        flex-direction: column;
      }  
      .course {
        margin: 4px 0;
      }  
      .course .texte {
        background-color: rgb(216, 216, 216);
      } 
      .course h3 {
        padding-bottom: 0;
      }  
      .course .media-conteneur, .course h4, .course p {
        display: none;
      }
    }
    
        /* Fin courses */
        
    
    
        /* Thesis */
        
    #thesis-section {
      padding: 32px 0;
    }  
    #thesis-section .main {
      padding-bottom: 0;
    }  
    #thesis-section h3 {
      padding: 8px 0;
    }
        
    @media only screen and (max-width: 900px) {
      #thesis-section .main h3, #thesis-section .main p, #thesis-section .block {
        display: none;
      } 
      #thesis-section {
        padding-bottom: 24px;
      }  
      #thesis-section .flex {
        padding: 0;
      }  
      #thesis-section .main {
        width: 100%;
        padding: 0;
        margin-right: 0;
      }
    }
    
        /* Fin thesis */
        
    
    
        /* Footer */
        
    footer {
      display: flex;
      padding: 16px 24px;
      font-size: 12px;
      color: rgb(112, 112, 112);
    } 
    footer .copyright {
      flex-grow: 1;
    }  
    footer a {
      margin-right: 12px;
    }   
    footer a:last-child {
      margin-right: 0;
    }
        
    @media only screen and (max-width: 600px) {
      footer a {
        display: none;
      }
    }
    
        /* Fin footer */